# Ativar reescrita
RewriteEngine On

# Mostrar index.php se nenhum arquivo for encontrado
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]